.footer-container{

    display: flex;
    justify-content: center;
    padding: 3.75rem 8rem 2rem 3.75rem;
    background-color: #212121;

}
/*.footer-background{*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    object-fit: fill;*/
/*}*/

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.company-vision{
    display: flex;
    flex-direction: column;
}
.company-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.company-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 282px;
    width: 100%;
}
.quick-links-title, .contact-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer-links, .contact-links{
    list-style: none;
    margin-top: 1rem;
}
.footer-links li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.contact-links li{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 1rem;
}