@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

:root{
    font-family: Roboto, sans-serif;
    --color-bg: #E7FFED;
    --color-bg-light-button: #68A678;
    --color-green-dark: #006A51;
    --color-light-black: #3B4A3F;
    --color-button-text: #FFFFFF;
    --color-black: #000000;

}